.Header {
    align-items: center;
    background-color: var(--sub-back-color);
    display: flex;
    height: var(--header-height);
    justify-content: center;
    user-select: none;
    width: 100%;
}

.header-text {
    font-size: 110%;
    position: relative;
    top: -.1em;
}
