.Header {
    background-color: var(--sub-color);
    display: flex;
    height: var(--header-height);
    width: 100%;
}

.logo-area {
    width: var(--header-logo-width);
}

.side-area {
    width: calc((100% - var(--header-logo-width)) / 2);
}
