.Login {
    align-items: center;
}

.login {
    align-items: center;
    /* border: 1px solid var(--light-back-color); */
    /* border-radius: calc(var(--basic-border-radius) / 2); */
    display: flex;
    flex-direction: column;
    padding: calc(var(--layout-margin) * 2);
    width: 100%;
}

.login-item {
    align-items: center;
    background-color: #ffffff;
    border-radius: 3px;
    color: #333333;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-bottom: var(--layout-margin);
    padding: 6px 0;
    width: 85%;
}

/* .login-item:active {
    background-color: ;
} */

.login-item:last-of-type {
    margin-bottom: 0;
}

.login-item-icon {
    margin-right: 8px;
}

.login-item-title {
    user-select: none;
}
