:root {
    --border-color: #000000;

    --layout-margin: 20px;
    --layout-padding: 8px;
    --border-radius: 5px;

    --header-height: 40px;
    --main-menu-width: 150px;
    --main-menu-item-height: 30px;
    --main-menu-item-margin: 5px;
    --assignment-width: calc(((100vw - var(--main-menu-width)) - (var(--layout-margin) * 2)) * (3 / 8));
    --editor-width: calc(((100vw - var(--main-menu-width)) - (var(--layout-margin) * 2)) * (5 / 8));
}

body {
    /* font-family: ; */
    margin: 0;
}

input {
    margin: 0;
}

.header {
    align-items: center;
    background-color: #eeeeee;
    display: flex;
    height: var(--header-height);
    width: 100vw;
}

.header-title {
    font-size: 120%;
}

.header-warning {
    font-size: 90%;
}

.main {
    display: flex;
    height: calc(100vh - var(--header-height));
}

.main-menu {
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: var(--main-menu-width);
}

.main-menu-item {
    align-items: center;
    background-color: #ffffff;
    border-radius: calc(var(--main-menu-item-height) / 2);
    cursor: pointer;
    display: flex;
    height: var(--main-menu-item-height);
    margin: var(--main-menu-item-margin) var(--main-menu-item-margin) 0;
    width: calc(var(--main-menu-width) - calc(var(--main-menu-item-margin) * 2));
}

.main-menu-item-text {
    margin: 0 calc(var(--main-menu-item-margin) * 2);
}

.main-content {
    display: flex;
    height: 100%;
    width: calc(100vw - var(--main-menu-width));
}

.request {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.request-input {
    margin: var(--layout-margin);
    height: 400px;
    width: calc(100% - (var(--layout-margin) * 2));
}

.request-send {
    height: 25px;
    width: 50px;
}

.assignment {
    background-color: #eeeeee;
    border-radius: var(--border-radius);
    margin: var(--layout-margin);
    max-height: 50vh;
    scrollbar-width: 0;
    overflow-y: scroll;
    padding: var(--layout-padding);
    width: calc(var(--assignment-width) - (var(--layout-padding) * 2));
}

.assignment::-webkit-scrollbar {
    display: none;
}

.assignment-search {
    background-color: #dddddd;
    border: none;
    border-radius: var(--border-radius);
    height: 25px;
    margin-bottom: 5px;
    outline: none;
    width: 100%;
}

.assignment-list {
    width: 100%;
}

.assignment-list-item {
    border-bottom: solid 1px var(--border-color);
    cursor: pointer;
    padding: 5px 0;
    width: 100%;
}

.assignment-list-item:hover {
    background-color: #ffffff;
}

.assignment-list-item:last-of-type {
    border-bottom: none;
}

.editor {
    align-items: center;
    background-color: #eeeeee;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    margin: var(--layout-margin);
    margin-left: 0;
    width: var(--editor-width);
}

.editor-title {
    margin: var(--layout-margin) 0;
}

.editor-form {
    width: calc(100% - (var(--layout-margin) * 2));
}

.editor-form-item {
    align-items: center;
    display: flex;
    margin-bottom: 8px;
    width: 100%;
}

.editor-form-item:last-of-type {
    margin-bottom: 0;
}

.editor-form-item-name {
    align-items: center;
    display: flex;
    width: 120px;
}

.editor-form-item-name:last-child {
    margin-right: 0;
}

.editor-form-item-name > * {
    margin-right: 10px;
}

.editor-form-item-data {
    display: flex;
    justify-content: center;
}

.editor-form-item-data > * {
    margin-right: 5px;
}

input.editor-form-item-data, select.editor-form-item-data {
    height: 20px;
}
