:root {
    --border-color: #000000;

    --layout-margin: 20px;
    --layout-padding: 8px;
    --border-radius: 5px;

    --header-height: 40px;
    --main-menu-width: 150px;
    --main-menu-item-height: 30px;
    --main-menu-item-margin: 5px;
    --assignment-width: calc(((100vw - var(--main-menu-width)) - (var(--layout-margin) * 2)) * (3 / 8));
    --editor-width: calc(((100vw - var(--main-menu-width)) - (var(--layout-margin) * 2)) * (5 / 8));
}

body {
    /* font-family: ; */
    margin: 0;
}

input {
    margin: 0;
}

.header {
    align-items: center;
    background-color: #eeeeee;
    display: flex;
    height: var(--header-height);
    width: 100vw;
}

.header-title {
    font-size: 120%;
    margin: 0 var(--layout-margin);
}

.header-warning {
    font-size: 90%;
}

.main {
    display: flex;
    height: calc(100vh - var(--header-height));
}

.main-menu {
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: var(--main-menu-width);
}

.main-menu-item {
    align-items: center;
    background-color: #ffffff;
    border-radius: calc(var(--main-menu-item-height) / 2);
    cursor: pointer;
    display: flex;
    height: var(--main-menu-item-height);
    margin: var(--main-menu-item-margin) var(--main-menu-item-margin) 0;
    width: calc(var(--main-menu-width) - calc(var(--main-menu-item-margin) * 2));
}

.main-menu-item-text {
    margin: 0 calc(var(--main-menu-item-margin) * 2);
}

.main-content {
    display: flex;
    height: 100%;
    width: calc(100vw - var(--main-menu-width));
}

.request {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.request-kind {
    background-color: #292a30;
    border-radius: var(--border-radius);
    color: #ffffff;
    font-family: 'Roboto Mono', monospace;
    height: 20px;
    margin: var(--layout-margin);
    width: 150px;
}

.request-body {
    background-color: #292a30;
    border-radius: var(--border-radius);
    color: #ffffff;
    font-family: 'Roboto Mono', monospace;
    margin: var(--layout-margin);
    margin-top: 0;
    height: 400px;
    overflow: scroll;
    scrollbar-width: 0;
    white-space: nowrap;
    width: calc(100% - (var(--layout-margin) * 2));
}

.request-body::-webkit-scrollbar {
    display: none;
}

.request-send {
    height: 25px;
    width: 50px;
}
