@font-face {
    font-family: 'HP Simplified';
    src: url('../public/fonts/HP Simplified.ttf');
}

@font-face {
    font-family: 'HP Simplified Light';
    src: url('../public/fonts/HP Simplified Light.ttf');
}

:root {
    --main-color: #60c45e;
    --sub-color: #68a353;

    --header-height: 40px;
    --bottom-menu-height: 50px;

    --header-logo-width: 100px;
}

body {
    color: #ffffff;
    font-family: 'HP Simplified', 'sans-serif';
    margin: 0;
}
